
$primary-color: #762E9E;
$text-color-header: white;
$border-color-active: #AF5CD6;
$text-color-active: #AF5CD6;

$btn-border-color: #3d008d;
$btn-color: #3d008d;
$btn-color-active: white;
$btn-background-color: transparent;
$btn-background-color-active: #3d008d;

